#dictionaryDialog {
	/* Moved these properties to its parent IFRAME */
	/*
		position: fixed;
		width: 530px;
		height: 150px;
		left: 50%;
		top: 50%;
		margin-top: -200px;
		margin-left: -300px;
	*/
	background-color: #0375b4;
	opacity: 0.95;
	padding: 30px;
	border-radius: 15px 15px;
}

#dictionaryDialog table {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: black;
}

#dictionaryDialog table input[type="text"] {
	width: 400px;
}

#dictionaryButtons {
	margin-top: 30px;
	text-align: center;
}

#dictionaryButtons input[type="button"] {
	width: 120px;
}